// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my-page-title {
  background-color: rgba(128,128,128,0.5);
}

.table-title {
  background-color: rgba(128,128,128,0.5);
}

.table-title h5 {
  text-align: center;
  margin-top: 5px;
}

.my-page-table table {
  background-color: rgba(128,128,128,0.5);
}

.delivery-link {
  background-color: rgba(128,128,128,0.5);
}

.delivery-link h5 {
  text-align: center;
  margin-top: 5px;
}

.order-link {
  background-color: rgba(128,128,128,0.5);
}

.order-link h5 {
  text-align: center;
  margin-top: 5px;
}

.form-table {
  background-color: rgba(128,128,128,0.5);
  padding: 10px;
}

.quit-check {
  background-color: rgba(128,128,128,0.5);
}
