// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// トップページ、アバウトページ関連
.top_page {
  width: 100vw;
  height: 100vh;
  background-image: url('cake-3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; 
}

// トップページテキスト
.main_text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 55%;
  left: 5%;
  padding: 1%;
  background-color:rgba(128,128,128,0.3);
}

.top_items {
  color: black;
}

.link {
  color: black;
}

.about_text {
  margin-top: 10%;
}


.genre {
  width: 15%;
  background-color:rgba(99,99,99,0.8);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

}

.genre_lists {
  padding: 0;
}

.genre_list {
  padding: 0;
  border-bottom: solid 1px black;
  list-style: none;
}