// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.items-main {
}

.main-contents{
  width: 85%;
  margin: 0 auto;
}
.item-title {
  display: flex;
  margin: 2%;
  align-items: flex-end
}

.sidebar {
  width: 15%;
  margin-left: 5%;
}

.content-items {
  display: flex;
  flex-wrap: wrap;
}

.content{
  width: 23%;
  height: 300px;
  text-align: center;
  margin: 1%;
}

.image-box {
  width: 100%;
  height: 230px;
}

img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 30px;
}


