<div class='container pt-5'>
  <div class='row'>
    <div class='col-12 text-center'>
      <h2 class="text-light font-weight-bold">Menu</h2>
      <span class='font-weight-bold text-light font-weight-bold'>新着商品ラインナップ</span>
      <div class='top-items row mt-5'>
        <% items.each do |item| %>
          <div class='col-3 content item'>
            <%=link_to item_path(item), class: 'link-color' do %>
              <div class="item-image">
                <%= image_tag item.get_item_image %>
              </div>
              <div class="tag">
                <p class='mt-2 text-light font-weight-bold'><%=item.name%></p>
              </div>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
