<section>
  <div class='about_page'>
    <div class='container'>
      <div class='row'>
        <div class='about_text'>
          <h1 class='text-center'><strong>About</strong></h1>
          <p class='text-center'>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          ぜひご注文ください。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>