<div class='about_img'>
  <div class='about_text'>
    <div class='container mt-5'>
      <div class='row'>
        <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto'>
          <h1 class='text-center'><strong>About</strong></h1>
          <p class='text-center fs-1'>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          ぜひご注文ください。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>