<div class='container'>
  <div class="row">
    <h4 class="text-center title px-5 ml-5">
      <%= @customer.last_name %><%= @customer.first_name %>さんの注文履歴
    </h4>
  </div>
  <div class='row mt-2'>
    <div id="admin_customer_orders_index" class='col-md-10 mx-auto'>
      <%= render 'index', orders: @orders %>
    </div>
  </div>
</div>
