<div class="container">
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title">ジャンル編集</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= render 'layouts/errors', obj: @genre %>
      <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
      <div class="row my-4">
        <div class="col-md-3 my-auto text-center">
          ジャンル名
        </div>
        <div class="col-md-4 my-auto">
          <%= f.text_field :name, class: 'form-control', placeholder: "ジャンル名" %>
        </div>
        <div class="col-md-3">
          <%= f.submit "変更を保存", class: 'btn btn-success btn-block' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>