<%if @favorites_all.exists? %>
<div class="back-color">
  <div id="favorite_index_area">
    <%= render 'public/favorites/index', favorites: @favorites_all, cart_item: @cart_item %>
  </div>
  <div id="favorite_paginate_area">
    <%= render 'public/favorites/paginate', favorites: @favorites_all %>
  </div>
</div>
<%elsif%>
<div class="back-color-none">
  <div class='container mb-5'>

    <div class='row'>
      <div class='col-md-8 offset-md-2 favorite-none text-light'>
        <h1>欲しいものリストに商品がありません</h1>
      </div>
      <div class='col-md-2 offset-md-5 mt-4'>
        <%= link_to '買い物を続ける',items_path, class: "btn btn-primary " %>
      </div>
    </div>
  </div>
  <%end%>

</div>

