<footer class="text-white py-4" style='background-color: #3D763E;'>
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<span>CopyRight あんパスタCURRY寿司株式会社</span>
    	</div>
    </div>
  </div>
</footer>