<div class="mt-2">
  <%= form_with url: link, local: true, method: :get do |f| %>
    <div class="row">
      <div class="ml-auto">
        <%= f.text_field :word, placeholder: "商品名を検索...", class: "form-control" %>
      </div>
      <div class="mr-3">
        <%= f.submit "検索", class: "btn btn-secondary btn-block" %>
      </div>
    </div>
  <% end %>
</div>
