<%= form_with url: link, local: false, method: :get do |f| %>
  <div class="row">
    <div>
      <%= f.select :sort_items, [["新着順(Default)", "new"], ["古い順", "old"], ["価格順(安い)", "low_price"], ["価格順(高い)", "high_price"] ], {}, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "並び替える", class: "btn btn-secondary text-white" %>
    </div>
  </div>
<% end %>